.hover-menu{
    position: relative;
    overflow: hidden;
    @apply inline-block opacity-80 duration-500 ease-in-out;
    &:after{
        content: "";
        display: block;
        bottom: 0;
        left: 0%;
        width: 100%;
        height: 2px;
        transform: translateX(110%);
        @apply bg-gradient-to-r from-emerald-500 to-purple-500 duration-500 ease-in-out;
    }
    &:hover{
        @apply opacity-100;
        &:after{
            transform: translateX(-75%);
        }
    }
}