@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'animation';

::-webkit-scrollbar {
  width: 8px;
  transition: all 0.5s ease-in-out;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 1em;
  transition: all 0.5s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.35);
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #1D1D1D;
    color: #cdcdcd;
}

hr{
    overflow: hidden;
    border: none;
    height: 3px;
    border-radius: 4px;
    @apply bg-gradient-to-r from-emerald-500 to-purple-500 duration-500 ease-in-out;
}

strong{
     @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-emerald-500 to-purple-500;
}

.link{
    @apply duration-500 ease-in-out opacity-75 hover:opacity-100;
}

label{
    @apply text-xs mb-1 uppercase text-left;
}
input{
    @apply bg-white/25 p-3 text-white rounded-md w-full;
}
textarea{
    @apply bg-white/25 p-3 text-white rounded-md w-full;
}

.translate-x-neg-half{ transform: translateX(-50%); }
.translate-y-neg-half{ transform: translateY(-50%); }
.translate-xy-neg-half{ transform: translate(-50%, -50%); }

.section-bg-element-bar{
    position: relative;
    overflow: hidden;
    &:after{
        content: "";
        position: absolute;
        z-index: -1;
        top: 60%;
        left: -10%;
        width: 200%;
        height: 100%;
        transform: rotate(10deg);
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 40%);
    }
    &.small{
        &:after{
            content: "";
            position: absolute;
            z-index: -1;
            top: 60%;
            left: -10%;
            width: 200%;
            height: 100%;
            transform: rotate(3deg);
            background: rgb(0, 0, 0);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 40%);
        }
    }
    &.reverse{
        &:after{
            content: "";
            position: absolute;
            z-index: -1;
            top: 10%;
            left: -10%;
            width: 200%;
            height: 100%;
            transform: rotate(-10deg);
            background: rgb(0, 0, 0);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 40%);
        }
    }
}
@media only screen and (max-width: 992px) {
    .section-bg-element-bar{
        &:after{
            top: 30%;
            left: -50%;
        }
        &.reverse{
            &:after{}
        }
        &.small{
            &:after{
                top: 40%;
            }
        }
    }
}

.hero{
    // position: relative;
    // overflow: hidden;
    // &:after{
    //     content: "";
    //     position: absolute;
    //     z-index: -1;
    //     top: 60%;
    //     left: -10%;
    //     width: 200%;
    //     height: 100%;
    //     transform: rotate(10deg);
    //     background: rgb(0, 0, 0);
    //     background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 40%);
    // }
    .image-wrapper{
        -webkit-filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.25));
        filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.25));
    }
    a{
        position: relative;
        overflow: hidden;
        @apply inline duration-500 ease-in-out;
        &:after{
            content: "";
            position:absolute;
            z-index: -1;
            display: block;
            bottom: 0.2em;
            left: 0%;
            width: 100%;
            height: 0.075em;
            // transform: translateY(100%);
            @apply bg-gradient-to-r from-emerald-500 to-purple-500 duration-500 ease-in-out;
        }
        &:hover{
            &:after{
                height: 1em;
                // transform: translateY(-100%);
            }
        }
    }
}

.portfolio-wrapper{
    .portfolio-overlay{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: rgba(#1D1D1D, 0.85);
        opacity: 0;
        transform: translateY(-100%);
        transition: all 0.5s ease-in-out;
        h3{
            @apply font-extrabold text-xl text-transparent bg-clip-text bg-gradient-to-br from-emerald-500 to-purple-500;
        }
    }
    &:hover{
        .portfolio-overlay{
            opacity: 1;
            transform: translateY(0%);
        }
    }
}


// Componenti
@layer components {

    .content-wrapper{
        @apply max-w-6xl mx-4 md:mx-auto;
    }

    .title{
        @apply font-extrabold text-2xl sm:text-2xl md:text-4xl text-transparent bg-clip-text bg-gradient-to-br from-emerald-500 to-purple-500;
    }

    .subtitle{
        @apply tracking-widest text-xs text-white opacity-70;
    }

    .seo-subtitle{
        @apply hidden;
    }

    .btn {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0);
        @apply 
            relative
            rounded-full
            px-3 py-3
            md:px-4 md:py-1
            text-sm
            cursor-pointer
            bg-gradient-to-r from-emerald-500 to-purple-500
            ease-in-out duration-500
        ;
        &:hover{
            box-shadow: 0 0 10px rgba(255, 255, 255, .5);
            &:after {
                transform: translateX(150%);
            }
        }
    }

    .btn-bordered {
        @apply
            rounded-full
            px-2 py-2
            md:px-4 md:py-1
            text-sm
            cursor-pointer
            border border-purple-500
            ease-in-out duration-500
            ;
    }
    
    .icon-wrapper svg{
        @apply
                rounded-full
                px-2 py-2
                md:px-4 md:py-1
                text-sm
                w-16 h-16
                cursor-pointer
                text-purple-500
                border border-purple-500
                ease-in-out duration-500
                ;
    }

}